crispy-bootstrap4==2023.1
Django==4.2.9
django-crispy-forms==2.1
django-debug-toolbar==4.2.0
djangorestframework==3.14.0
flake8==7.0.0
flake8-quotes==3.3.2
flake8-variables-names==0.0.6
pep8-naming==0.13.3
